<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="media/logo.png" type="image/icon type">
    <title>Are you new around here?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<body>
  <div class="container gx-5 gy-5 px-4 d-flex justify-content-center">
    <h1 style="font-size: 4em;">WHO ARE YOU?!</h1>
    
  </div>
  <br>
  <div class="container gx-5 gy-5 px-4 d-flex justify-content-center">
    <div class="row gx-5 gy-5">
      <div class="card col " style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">No account?</h3>
            <button style="background-color:#6f42c1" data-toggle="modal" data-target="#sign-up" class="btn btn-primary" onclick="window.location.href='/register'">Sign Up</button>
                    
          </div>
        </div>
        <br>
        <div class="card col " style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Have an account?</h3>
            <a href="#" style="background-color:#6f42c1"class="btn btn-primary" data-toggle="modal" data-target="#log-in">Log In</a>
          </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="sign-up"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title">
                  <h3>Sign up for an account!</h3>
                </div>
              </div>
              <div class="modal-body">








                
                
              </div>
              
            </div>
          </div>
        </div>  
        <div class="modal fade bd-example-modal-lg" id="log-in"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title">
                  <h3>Log in!</h3>
                </div>
              </div>
              <div class="modal-body">
                <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="email">Email: </label>
                    <input name="email" id="email" type="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="password">Password: </label>
                    <input name="password" id="password" type="password" class="form-control">
                  </div>
                  <br>
                  <!--TEMPORARY: for now the login button will always let you access the shop. fix this when we have a login system in the backend-->
                  <button type="submit" style="background-color:#6f42c1" class="btn btn-primary">Log In</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>

  
  <div id="message" style="position:absolute;top:0%;left:0%;height:100%;width:100%;background:rgba(0,0,0,.7)">
    <div id="messagebox" style="position:absolute;top:40%;height:20%;width:40%;left:30%;text-align:center;">
    
    ACCOUNT CREATED
    
    </div>
    </div>
    

    <script>
    
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('state');
      document.getElementById("message").style.visibility = "hidden";
    
      function showmessage(ele){
        document.getElementById("messagebox").innerHTML = ele;
        document.getElementById("message").style.opacity = 1;
        document.getElementById("message").style.visibility = "visible";
        setTimeout(function(){
          document.getElementById("message").style.transition = "all 1s ease";
          document.getElementById("message").style.opacity = 0;
        },100)
        setTimeout(function(){
          document.getElementById("message").style.transition = "all 0s ease";
          document.getElementById("message").style.visibility = "hidden";
        },1000)
    
    
      }
    
      
      if(myParam==1){
        showmessage("Account Created")
      }
      if(myParam==0){
        showmessage("Account Failed")
      }
      if(myParam==2){
        showmessage("Account Does Not Exist")
      }
    </script>
</body>