<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="media/logo.png" type="image/icon type">
    <title>Shop with JIBS!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function getItemQuantity(itemName) {
        fetch(`/get-item-quantity?itemName=${encodeURIComponent(itemName)}`)
            .then(response => response.json())
            .then(data => {
                // Display the quantity on the page
                // For example, update the text of an element with id 'quantity-[itemName]'
                document.getElementById(`quantity-${itemName}`).innerText = data.quantity;
            })
            .catch(error => console.error('Error:', error));
    }
</script>    
  </head>

<body>
  <!-- Nav Bar -->
    <nav style="background-color:#372160"class="navbar fixed-top navbar-dark">
        <a class="navbar-brand" href="#">
          <!-- TODO: Make the JIBS image a button that takes you to index.ejs -->
          <img style="margin-left: 20px" src="/media/jibs.png" width="70" alt="">
        </a>
        <button style="background-color:#6f42c1; text-align: center;" class="btn btn-primary"><span style="font-size: 2em;  text-align: center;" class="bi-cart"></span></button>
    </nav>

    <!-- Title -->
  <div style="margin-top: 4rem;"class="container gx-5 gy-5 px-4 d-flex justify-content-center">
    <h1 style="font-size: 4em;">SHOP</h1>
  </div>

  <br>
  
  <!-- INVENTORY -->
  <div class="container gx-5 gy-5 d-flex flex-wrap justify-content-center">
    <div class="row gx-5 gy-5">

        <!-- I Survived CS-1050 -->
        <div class="card col " style="min-width: 350px">
          <img src="/media/1050lol.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><i>I Survived CS-1050</i> shirt</h3>
            <p style="font-weight: bold;">Price: </p>
            <p style="font-weight: bold;">Available: </p>
            <p>For those of us who have survived the horrors.</p>
            <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
          </div>
        </div>

        <!-- CS-themed family windshield sticker -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/CS Family Car Windshield Sticker.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">CS-themed family windshield sticker</h3>
              <p>To break character for a moment, it took me an embarrassingly long amount of time to get the joke.</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Drywall Installer Shirt 1 -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/Drywall Jesus Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Drywall Installer Shirt 1</h3>
              <p>Now with mildly religious undertones!</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Drywall Installer Shirt 2 -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/Drywall Voice Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Drywall Installer Shirt 2</h3>
              <p>Okay. When "drywall" only shows up once, it's just funny for the random factor. But twice? Is this an inside joke I don't get?</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Drywall Installer Shirt 3 -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/Eat Drywall Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Drywall Installer Shirt 3</h3>
              <p>This is getting out of hand. Do you guys not like me or something? How often are you hanging out without me for this to be a recurring gag?!</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Drywall Installer Shirt 4 -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/End Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Drywall Installer Shirt 4</h3>
              <p>Alright. That's it. I quit. Clearly I am not appreciated here.</p>
              <button style="background-color:#B7A0E0" class="btn btn-primary" disabled>out of stock :(</button>
            </div>
        </div>

        <!-- Drywall Installer Shirt 5 -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/I Eat Drywall Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Drywall Installer Shirt 5</h3>
              <p>Ahem. I would like to apologize for my outburst. I was being unreasonable. Please forgive me.</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- JimR's Cat -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/Jimrs Cat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">JimR's Cat</h3>
              <p>We are not responsible if he retaliates by buying your own cat as revenge.</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Peanut M&M Shirt -->
        <div class="card col " style="min-width: 350px">
            <img src="/media/M&M Shirt.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Peanut M&M Shirt</h3>
              <p>peanut :)</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Portal to Hell -->
        <div class="card col " style="min-width: 350px; ">
            <img src="/media/Portal To Hell.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Portal to Hell</h3>
              <p>AAAAAAAAAAAAAAAHHH OHHH GODDDDDD OHHH DEAR GOD PLEASE I BEG FOR YOUR MERCY</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Scott -->
        <div class="card col " style="min-width: 350px; ">
            <img src="/media/Scott.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Scott</h3>
              <p>Why not adopt this lovable professor? He can do many tricks, such as: </p>
              <ul>
                <li>teach you web dev</li>
                <li>teach you UNIX</li>
              </ul>
              <p>...and many more!</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- A spirit with unfinished business. It is your duty to help them. -->
        <div class="card col " style="min-width: 350px; ">
            <img src="/media/Sorry I'm Late Shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">A spirit with unfinished business. It is your duty to help them.</h3>
              <p>Comes with <i>Sorry I'm Late, I Didn't Want to Come</i> shirt for free</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Spare Kidney -->
        <div class="card col " style="min-width: 350px; ">
            <img src="/media/Spare Kidney.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Spare Kidney</h3>
              <p>Just in case</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

        <!-- Eyeballs -->
        <div class="card col " style="min-width: 350px; ">
            <img src="/media/the eyes of my enemies.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Eyeballs</h3>
              <p>stress relief toy</p>
              <button style="background-color:#6f42c1" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>

    </div>





    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Stella Craig, Julian ???, Braeden Songer, Vivi Purvis</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">Developed for CS-2830 final project</li>
          
        </ul>
      </footer>
  </div>
    </div>
    
        
  </div>
</body>